

body{
    background-image: url(/images/);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    background-color: #e2e2e24d;
    color: #242424;
    font-family: 'Oswald', sans-serif;
}
/* Adicione estilos para ajustar o tamanho do dropdown */

#button1:hover{
    background-color: rgb(178, 176, 192)
}
.forms-card {
    background-color: rgba(86, 133, 177, 0.336);
    color: #fff;
    border-radius: 2rem;
}

hr{
    width: 28%;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 5rem;
    height: 3px;
    
    background-image: linear-gradient(to right, transparent, rgb(35, 64, 97), transparent);  
  }
.btn-warning{
    color: #fff;
    background-color: rgb(75, 133, 180);
    border: 0;
}
.btn-warning:hover{
    background-color: rgb(224, 224, 224);
}
.fa-edit{
    color: #fff;
}
.btn-danger{
    color: #fff;
    background-color: rgb(35, 79, 116);
    border: 0;
}
.btn-danger:hover{
    background-color: rgb(224, 224, 224);
}

/*==========================
        3.NAVBAR CUSTOM
============================*/

.custom-nav {
    background-color: transparent;
    padding: 20px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
}

.custom-nav .navbar-nav li a {
    color: #0e0d0d !important;
    font-size: 15px;
    background-color: transparent !important;
    margin: 0 7px;
    letter-spacing: 0.05em;
    line-height: 24px;
    transition: all 0.5s;
    font-weight: 500;
}

.custom-nav .navbar-brand {
    color: #bbbbbb !important;
    text-transform: uppercase;
}

.custom-nav .navbar-toggler {
    color: #fffdfd;
    font-size: 35px;
    padding: 0px;
    margin-left: 10px;
}

.custom-nav.stickyadd {
    background-color: #fff !important;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.050980392156862744);
    padding: 15px 0px;
}

.custom-nav.stickyadd .navbar-nav li a {
    color: #000 !important;
}


.bg-overlay {
    background-color: #ffffff00;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.header-content {
    max-width: 800px;
}

.header-table-center {
    display: table-cell;
    vertical-align: middle;
}

.header-table {
    display: table;
    width: 100%;
    height: 100%;
}

.navbarCollapse {
    font-size: 54px;
}
.header-desc {
    max-width: 500px;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.75) !important;
}

.header-name {
    font-size: 66px;
}


.header-bg-img {
    position: relative;
    background-size: cover;
    background-position: center ;
}
/* CARD */
.car-body{
    background-color: rgba(255, 255, 255, 0);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: -8px 8px 18px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.card {
    background-image: linear-gradient(90deg in oklab, rgba(84, 147, 158, 0.404), rgba(126, 146, 202, 0.397));

    color: #000;
    box-shadow: -5px 5px 10px rgba(44, 44, 44, 0.2);
    transform: scale(1);
    transition: all 300ms ease-in-out;
}

@media (min-width: 200px) and (max-width: 768px) {
    .custom-nav {
        background-color: #00000056 !important;
        padding: 10px 0px !important;
    }
    .custom-nav .container {
        width: 85%;
    }
    .custom-nav .navbar-toggler {
        color: #ffffff;
        font-size: 32px;
        border: none;
    }
    .custom-nav .navbar-nav li a {
        color: rgba(255, 255, 255, 0.6) !important;
    }
    .header-bg-img {
        clip-path: none;
        padding: 120px 0 140px;
    }
    .h-100vh {
        height: auto;
        padding: 120px 0 140px;
    }
    .wave-home.h-100vh{
        height: auto;
        padding: 120px 0 190px;
    }
    .custom-nav .navbar-nav li a {
        margin: 4 10px;
        line-height: 15px;
    }
    .header-name {
        font-size: 38px;
    }
}